# .NET build outputs
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/launch.json
.vscode/tasks.json

# Rider settings
.idea/
*.sln.iml

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Logs
*.log

# Others
*.db
*.sqlite
*.pdb
*.cache
*.config
*.DS_Store
Thumbs.db

# Local environment files
appsettings.Development.json
