# .NET build outputs
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code noise
*.sln

# VS Code settings
.vscode/launch.json
.vscode/tasks.json

# Rider settings
.idea/
*.sln.iml

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Logs
*.log

# Others
*.db
*.db-shm
*.db-wal
*.sqlite
*.pdb
*.cache
*.config
*.DS_Store
Thumbs.db

# Local environment files -- NOTE included in exercise repo
# appsettings.Development.json
